/* CSS files add styling rules to your content */

.nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: lightpink;
  text: 20px;
}

.name {
  display: flex;
  justify-content: space-around;
}